
@{
    ViewData["Title"] = "Chart";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="margin-left:50px">
              <div class="row">
               <!--Welcome Başlangıç-->
               <partial name="_welcome" />
               <!--Welcome Bitiş -->
             
             <!------------------------------------------------------------------------------------------------------------>

              <div class="container-xxl flex-grow-1 container-p-y" >
               
               <!--Company Date List Start-->
               <!--FİRMALARIN TARİHLERİNE GÖRE SIRALAMASI OLACAK OLAN LİST SAYFASI-->
               <partial name="_CompanyDate" />
               
              </div>
               <!--Company Date List End-->

               <!------------------------------------------------------------------------------------------------------------>

                <div class="col-lg-4 col-md-4 order-1">
                   <div class="row">
                       <!--Number Of Company Start -->

                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <partial name="_numberofCompany" />
                       <partial name="_numberofEmployee">
                     
                    
                    </div>
                    
                    
                       <!--Number Of Company End -->

                <!------------------------------------------------------------------------------------------------------------>
                   
                 <!--Number Of Executive Start -->

                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                        
                      
                    <partial name="_numberOfExecute">
                      
                    </div>
                 
                    <!--Number Of Executive End-->
                    </div>
                    </div>
                        
               <!------------------------------------------------------------------------------------------------------------>
                 
                       <div class="row">
                <!-- Order Statistics -->
                <div class="col-md-4 col-lg-4 col-xl-4 order-0 mb-4">
                  <div class="card h-100">

                      <!--Sector Chart Start -->
                       <partial name="_chart">

                      <!--Sector Chart End -->
                  </div>
                </div>

               <!------------------------------------------------------------------------------------------------------------>
                  </div>
               </div>
                </div>
              </div>
                
               



              
            
           

        
          


  

