<div class="page-section">
  <div class="container">
    <div class="text-center wow fadeIn">
      <h2 class="mb-4">Referanslarımız</h2>
      @*<p>Become a <a href="#">partners?</a></p>*@
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 justify-content-center align-items-center mt-5">
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/alter_sport.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/cleaning_service.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/creative_photo.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/iHome_root/img/clients/global_tv.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/net_sport_tv.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/news_digital_tv.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/spa_beauty.png" alt="">
        </div>
      </div>
      <div class="p-3 wow zoomIn">
        <div class="img-place client-img">
          <img src="~/Home_root/img/clients/trivier_group.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

