<div class="page-section bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 py-3 wow fadeInUp">
        <h2 class="mb-4">Sıkça <br> Sorulan Sorular</h2>
        <p> Aklınıza gelebilcek soruları sizin için derledik. Daha detaylı bilgilendirme için bizimle iletişime geçebilir ve süreç için teklif alabilirsiniz. </p>

        <p class="fg-primary fw-medium">Size Nasıl Yardımcı Olabiliriz ?</p>
        <a asp-controller="Login" asp-action="Register" class="btn btn-gradient btn-split-icon rounded-pill">
          <span class="icon mai-call-outline"></span> Bilgilendirme
        </a>
      </div>
      <div class="col-lg-7 py-3 no-scroll-x">
        <div class="accordion accordion-gap" id="accordionFAQ">
          <div class="accordion-item wow fadeInRight">
            <div class="accordion-trigger" id="headingFour">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Üyelik Bilgileri </button>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
              <div class="accordion-content">
                
                <ul>
                  <li>Aylık Ödeme planı </li>
                  <li>Yıllık Ödeme Planı</li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow fadeInRight">
            <div class="accordion-trigger" id="headingFive">
              <button class="btn" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Üyelik için ne yapmalıyım ? </button>
            </div>
            <div id="collapse2" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionFAQ">
              <div class="accordion-content">
                <p>Bizimle iletişime geçerek bilgilerinizi bırakmanız dahilinde, sizinle verdiğiniz iletişim bilgileri üzerinden ulaşıyoruz ve bilgilendirme sağlıyoruz.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item wow fadeInRight">
            <div class="accordion-trigger" id="headingSix">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Eğer ki Sistemimde Bir Hata ile Karşılaşırsam </button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ">
              <div class="accordion-content">
                <p>24 saat sorun bildirebilir ve kısa zaman içeisinde sorun çözümü sağlanmaktadır..</p>
              </div>
            </div>
          </div>
    

          <div class="accordion-item wow fadeInRight">
            <div class="accordion-trigger" id="headingEight">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Kullanım ile ilgili olarak Süraç Nasıl ilerliyor?</button>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="headingEight" data-parent="#accordionFAQ">
              <div class="accordion-content">
                <p> Öncelikle üyelik bilgilerinzi bizimle paylaşıyorsunuz ve sizinle iletişime geçip süreci size anlatıyoruz.</p>

                <p>Şirket bilgilerinize göre size uygun plaı çiziyoruz ve üyelik işlemini sağlayarak şirket bilgilerinizi eklemenize yardımcı oluyoruz..</p>
                  
                /<p>Üyelik sürenize göre 7/24 sisteme ulaşım sağlayarak istediğiniz işlemleri yapabiliyorsunuz .</p>
              </div>
            </div>
          </div>

        

        </div>
      </div>
    </div>
  </div>
</div>