<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <meta name="description" content="Mobile Application HTML5 Template">

  <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

  <title>Mobster - One page app template</title>

  <link rel="shortcut icon" href="~/css/Homecss/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="~/Home_root/css/maicons.css">

  <link rel="stylesheet" href="~/Home_root/vendor/animate/animate.css">

  <link rel="stylesheet" href="~/Home_root/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="~/Home_root/css/bootstrap.css">

  <link rel="stylesheet" href="~/Home_root/css/mobster.css">
</head>
<script src="~/Home_root/js/jquery-3.5.1.min.js"></script>

<script src="~/Home_root/js/bootstrap.bundle.min.js"></script>

<script src="~/Home_root/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="~/Home_root/vendor/wow/wow.min.js"></script>

<script src="~/Home_root/js/mobster.js"></script>

<body>
    @RenderBody()
<nav class="navbar navbar-expand-lg navbar-dark navbar-floating">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="~/Home_root/img/favicon-light.png" alt="" width="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
        <li class="nav-item dropdown active">
          @*<a class="nav-link "  id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ANASAYFA</a>*@
           <a class="nav-link " asp-controller="Home" asp-action="Index">ANASAYFA</a>
         @* <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="index.html">UYGULAMALAR</a>
          </div>*@
        </li>
        <li class="nav-item">
             @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
       @*   <a class="nav-link" asp-controller="About" asp-action="about ">HAKKIMIZDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Blog" asp-action="Index">BLOG</a>
        </li>*@
        @*<li class="nav-item">
          <a class="nav-link" href="updates.html">What's New</a>
        </li>*@
        <li class="nav-item">
       @* <li class="nav-item">
          <a class="nav-link" href="contact.html">iLETİŞİM</a>
        </li>*@
      </ul>
      <div class="ml-auto my-2 my-lg-0">
        <a class="btn btn-primary rounded-pill" asp-controller="Home" asp-action="LogIn" >ÜYE GİRİŞ</a>
      </div>
    </div>
  </div>
</nav>

<div class="page-hero-section bg-image hero-home-2" style="background-image:url(./Home_root/img/bg_hero_2.svg);">
  <div class="hero-caption">
    <div class="container fg-white h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 wow fadeInUp">
         
          <h1 class="mb-4 fw-normal">Modern Hayat Artık Cebinizde</h1>
          <p class="mb-4">Dilediğiniz zaman , dilediğiniz yerde <br>
          şirketinizin tüm bilglerine aktif olarak ulaşın.</p>

          <a asp-controller="Home" asp-action="SignUp" class="btn btn-dark">Hemen Üye Ol</a>

        </div>
        <div class="col-lg-6 d-none d-lg-block wow zoomIn">
          <div class="img-place mobile-preview shadow floating-animate">
            <img src="~/Home_root/img/app_showcase.svg" alt="">
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Service Start -->

<partial name ="HomeLayout/_service" />
<!-- Service End -->


<!-- Promotion -->

<partial name="HomeLayout/_promotion" />

<hr>

<!-- Pricing Table -->
<partial name="HomeLayout/_pricingTable" />
<hr>

<!-- Testimonials -->


<partial name="HomeLayout/_testimonials" />

<!-- FAQ -->

<partial name="HomeLayout/_faq" />

<!-- Clients -->

<partial name="HomeLayout/_clients" />

<!--Footer-->
@*<partial name="HomeLayout/_footer" />*@


</body>
</html>