<div class="page-section">
  <div class="container">
    <div class="row justify-content-center text-center wow fadeInUp">
      <div class="col-lg-6">
        <h2 class="mb-3">Ekstra Ücret Ödemeden Tüm Özellikler Sizinle</h2>
        <p class="mb-5">Dream processing ile Şirketiniz ve personellerinizin tüm bilgileri anında sizinle. Dilediğiniz işlemi yapabilir 
            veya bilgilerine ulaşabilirisniz.
        </p>

        @*<div class="btn-group btn-group-toggle rounded-pill btn-switch" data-toggle="buttons">
          <label class="btn active">
            <input type="radio" name="options" id="option1" checked> Aylık
          </label>
          <label class="btn">
            <input type="radio" name="options" id="option2"> Yıllık
          </label>
        </div>*@
      </div>
    </div>
    <div class="pricing-table mt-5 wow fadeInUp">
      <div class="pricing-item active no-transform">
        <div class="pricing-header">
          <h5>6 Aylık Üyelik</h5>
          <h1 class="fw-normal">$59.00</h1>
        </div>
        <div class="pricing-body">
          <ul class="theme-list">
            <li class="list-item">Bildirim Almak</li>
            <li class="list-item">Sınırsız Erişim Özgürlüğü</li>
            <li class="list-item">Anlık Bilgi Güncelleme</li>
            <li class="list-item">Aylık Dönüşler</li>
            <li class="list-item">24/7 Giriş</li>
          </ul>
        </div>
         <a asp-controller="Home" asp-action="SignUp" class="btn btn-dark">Üyelik Başlat</a>
      </div>
      <div class="pricing-item active no-transform">
        <div class="pricing-header">
          <h5>Yıllık Üyelik</h5>
          <h1 class="fw-normal">$89.00</h1>
        </div>
        <div class="pricing-body">
          <ul class="theme-list">
             <li class="list-item">Bildirim Almak</li>
            <li class="list-item">Sınırsız Erişim Özgürlüğü</li>
            <li class="list-item">Anlık Bilgi Güncelleme</li>
            <li class="list-item">Aylık Dönüşler</li>
            <li class="list-item">24/7 Giriş</li>
          </ul>
        </div>
        <a asp-controller="Home" asp-action="SignUp" class="btn btn-dark">Üyelik Başlat</a>
      </div>
    </div>
  </div>
</div>
