<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 py-3">
        <div class="iconic-list">
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-content">
              <h5>Hızlı İşlem</h5>
              <p class="fs-small">Dream Pricessing ile işlemlerinizi hızlı bir şekilde halledebilirsiniz</p>
            </div>
            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
              <span class="mai-analytics"></span>
            </div>
          </div>
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-content">
              <h5>Güvenlik</h5>
              <p class="fs-small">Şirket,personel ve kişisel bilgilerinizi güvenli bir şekilde bulundurabilirsiniz.</p>
            </div>
            <div class="iconic-md iconic-text bg-info fg-white rounded-circle">
              <span class="mai-shield-checkmark"></span>
            </div>
          </div>
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-content">
              <h5>Kolay Kullanım</h5>
              <p class="fs-small"> Site içeriğinin düzenli ve basit kullanımı sayesinde işlemleriniz kolay bir şekilde yapabilirsiniz.</p>
            </div>
            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
              <span class="mai-desktop-outline"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 py-3 wow zoomIn">
        <div class="img-place mobile-preview shadow">
          <img src="~/Home_root/img/app_preview_2.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 py-3">
        <div class="iconic-list">
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
              <span class="mai-speedometer-outline"></span>
            </div>
            <div class="iconic-content">
              <h5>Erişim Güvenliği</h5>
              <p class="fs-small">Çalışanlarınızın ve sizin bilgilendirme sınırlandırılması sayesinde herkesin işlem bölümlerini belirleyebilirsiniz.</p>
            </div>
          </div>
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-md iconic-text bg-success fg-white rounded-circle">
              <span class="mai-aperture"></span>
            </div>
            <div class="iconic-content">
              <h5>İstatistik Bilgilendirme </h5>
              <p class="fs-small"> Sistemdeki bilgilerinizi istediğiniz şekilde grafiğe dökebilir ve düzenleme sağlayabilirisniz. </p>
            </div>
          </div>
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
              <span class="mai-stats-chart-outline"></span>
            </div>
            <div class="iconic-content">
              <h5></h5>
              <p class="fs-small">Güvenli şifre doğrulaması ile dilediğiniz her an tüm bilgileriniz sizinle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
