@model AddShiftEmployeeDto
@{
    Layout = null;
}
  <form asp-action="AddShiftEmployee" asp-controller="Manager" method="post">
   
             <div class="form-group">
                <label asp-for="HourTime" class="control-label"></label>
                <select asp-for="HourTime"  class="form-control" asp-items="ViewBag.Paket"></select>
               
                <input type="submit" value="Kaydet" class="btn btn-success" />
   

            </div>
    </form>
