@model PersonnelDocuments
@{
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<h1>Personel Döküman Güncelle</h1>
<form asp-controller="Manager"  asp-action="UpdatePersonnelDocument"  method="post">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group first">
                    <label asp-for="FileName">Dosya Adı:</label>
                    <input asp-for="FileName" class="form-control" type="text" > 
                    <span asp-validation-for="FileName" class="text-danger"></span>
                </div>
                <div class="form-group first">
                    <label asp-for="FileDetails">Dosya Detayları:</label>
                    <input asp-for="FileDetails" class="form-control" type="text" > 
                    <span asp-validation-for="FileDetails" class="text-danger"></span>
              </div>
                <div class="form-group first">
                    <input asp-for="FilePath" class="form-control" type="file" > 
              </div>
              <div class="form-group last mb-4">
                <label asp-for="FileGeneratedDate" class="control-label"> Tarih </label>
                 <input asp-for="FileGeneratedDate" class="form-control" >
                <span asp-validation-for="FileGeneratedDate" class="text-danger"></span>
              </div>
              <input type="submit" value="Kaydet" class="btn btn-block btn-primary">
</form>

