@model List<AppUser>

 @* <div class="card-header">
                      <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                       
                        </li>
                        <li class="nav-item">
                          <button type="button" class="nav-link" role="tab">Yönetici Sayısı</button>
                        </li>
                        <li class="nav-item">
                          <button type="button" class="nav-link" role="tab">Personel Sayısı</button>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body px-0">
                      <div class="tab-content p-0">
                        <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                          <div class="d-flex p-4 pt-3">
                            <div class="avatar flex-shrink-0 me-3">
                              <img src="~/dashboard/assets/img/icons/unicons/wallet.png" alt="User" />
                            </div>
                            <div>
                              <small class="text-muted d-block">Toplam</small>
                              <div class="d-flex align-items-center">
                                <h6 class="mb-0 me-1">@ViewBag.totalusers</h6>
                                <small class="text-success fw-semibold">
                                  <i class="bx bx-chevron-up"></i>
                                  42.9%
                                </small>
                              </div>
                            </div>
                          </div>
                          <div id="incomeChart"></div>
                          <div class="d-flex justify-content-center pt-4 gap-2">
                            <div class="flex-shrink-0">
                              <div id="expensesOfWeek"></div>
                            </div>
                            <div>
                              <p class="mb-n1 mt-1">Expenses This Week</p>
                              <small class="text-muted">$39 less than last week</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>*@

                    <div class="card">
    <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
                <img src="~/dashboard/assets/img/icons/unicons/wallet-info.png"
                     alt="Credit Card"
                     class="rounded" />
            </div>
            <div class="dropdown">
                <button class="btn p-0"
                        type="button"
                        id="cardOpt6"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                    <a class="dropdown-item" href="javascript:void(0);">Detay Gör</a>
                    <a class="dropdown-item" href="javascript:void(0);">Sil</a>
                </div>
            </div>
        </div>
        <span>Yönetici Sayısı</span>
        <h3 class="card-title text-nowrap mb-1">@ViewBag.totalusers</h3>
        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
    </div>
</div>